apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: hello-ebs-pvc
  namespace: helloworld
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp2
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-ebs-deployment
  namespace: helloworld
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-ebs
  template:
    metadata:
      labels:
        app: hello-ebs
    spec:
      containers:
      - name: sandbox-container
        image: busybox:latest
        command: ["/bin/sh", "-c", "sleep 3600"]
        volumeMounts:
          - name: my-ebs-volume
            mountPath: /my-ebs
      volumes:
        - name: my-ebs-volume
          persistentVolumeClaim:
            claimName: hello-ebs-pvc
