apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: helloworld-int-ingress
  namespace: helloworld
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/load-balancer-name: helloworld-int-ingress-{{ env }}
    alb.ingress.kubernetes.io/scheme: internal
    alb.ingress.kubernetes.io/subnets: main-{{ env }}-private-{{ aws_region }}a, main-{{ env }}-private-{{ aws_region }}b
    alb.ingress.kubernetes.io/target-type: ip
    external-dns.alpha.kubernetes.io/hostname: helloworldv1.{{ internal_domain }}, helloworldv2.{{ internal_domain }}
spec:
  rules:
  - host: helloworldv1.{{ internal_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: helloworld-v1
            port:
              name: http
  - host: helloworldv2.{{ internal_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: helloworld-v2
            port:
              name: http
