apiVersion: v1
kind: Service
metadata:
  name: msgsvc-cluster
  namespace: msgsvc
spec:
  selector:
    app: msgsvc
  type: ClusterIP
  clusterIP: "None"
---
apiVersion: v1
kind: Service
metadata:
  name: msgsvc-http
  namespace: msgsvc
spec:
  selector:
    app: msgsvc
  type: ClusterIP
  ports:
  - name: http
    port: 8080
    targetPort: http-port
